body,
ul,
li,
select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.calculator {
  max-width: 40vw;
  margin: 2.667vw auto;
  border: 0.133vw solid #eee;
  border-radius: 0.4vw;
}

.cal-header {
  font-size: 2.133vw;
  color: #333;
  font-weight: bold;
  height: 6.4vw;
  line-height: 6.4vw;
  border-bottom: 0.133vw solid #eee;
  text-align: center;
}

.cal-main {
  font-size: 1.867vw;
}

.cal-main .origin-value {
  padding: 2vw;
  height: 5.333vw;
  line-height: 5.333vw;
  font-size: 2.667vw;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cal-main .origin-type,
.cal-main .target-type {
  padding-left: 0.667vw;
  width: 9.333vw;
  font-size: 1.867vw;
  height: 4vw;
  border: 0.133vw solid #eee;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 1.333vw;
  border-radius: 0.4vw;
}

.cal-keyboard {
  overflow: hidden;
}

.cal-items {
  overflow: hidden;
}

.cal-items li {
  user-select: none;
  float: left;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  text-align: center;
  line-height: 10vw;
  border-top: 0.133vw solid #eee;
  border-left: 0.133vw solid #eee;
  box-sizing: border-box;
}

li:nth-of-type(4n+1) {
  border-left: none;
}

li[data-action=operator] {
  background: #f5923e;
  color: #fff;
}

.buttons {
  float: left;
  width: 10vw;
}

.buttons .btn {
  width: 10vw;
  background-color: #fff;
  border-top: 0.133vw solid #eee;
  border-left: 0.133vw solid #eee;
  height: 20vw;
  line-height: 20vw;
  text-align: center;
}

.btn-esc {
  color: #ff5a34;
}

.btn-backspace {
  position: relative;
}